@model IdentitySample.Models.IndexViewModel

<link href="~/Content/jquery.circliful.css" rel="stylesheet" type="text/css" />
<div class="user-profile-container">
    <div class="col-md-8">
        <h2>Manage Account</h2>
        @Html.ActionLink("Change your password", "ChangePassword", null, new {@class="change-password" })
    </div>

    <div class="stats">
        <div id="yes-req" data-info="Requisition Approval Rating" data-dimension="600" data-border="outline" data-fontsize="70" data-text="@Model.Result%" data-percent="@Model.Result" data-width="20" data-fgcolor="#2ABB9B" data-bgcolor="#EBEBEB">
        </div>
        
    </div>
    <div class="info">
        <h2>Statistics</h2>
        @Html.LabelFor(model => model.TotalWithVoid)
        <div class="my-req">
            @Html.DisplayFor(model => model.TotalWithVoid)
        </div>

        @Html.LabelFor(model => model.Rejected)
        <div class="my-req">
            @Html.DisplayFor(model => model.Rejected)
        </div>

        @Html.LabelFor(model => model.Void)
        <div class="my-req">
            @Html.DisplayFor(model => model.Void)
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery.circliful.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#yes-req').circliful();
    });
</script>