@model WebApplication9.Data.Item
@{
    var itemTotal = Model.Quantity * Model.Price;
}

<tr class="item-row">
    <td>@Html.DisplayFor(model => model.ItemCategory.Number)</td>
    <td>@Html.DisplayFor(model => model.ItemCategory.Name)</td>
    <td class="limited-row" colspan="2">@Html.DisplayFor(model => model.Description)</td>
    <td>@Html.DisplayFor(model => model.Quantity)</td>
    <td>@Html.DisplayFor(model => model.Price)</td>
    <td><label>@itemTotal$</label></td>
</tr>