@model IEnumerable<WebApplication9.Data.Fund>
@section AddToHead{
    @Styles.Render("~/Content/datatables")
}

<table class="data-table display" id="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="datatable-nosort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditFund", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="configure-control">
    <a href="@Url.Action("CreateFund")">
        <span>
            <span class="btn-mnu btn-default">New Fund</span>
        </span>
    </a>

    <a href="@Url.Action("Index")">
        <span>
            <span class="btn-mnu btn-custom">Back To List</span>
        </span>
    </a>
</div>

@Scripts.Render("~/bundles/datatables")

<script>
    $(document).ready(function () {
        $('#data-table').DataTable({
            columnDefs: [{
                targets: "datatable-nosort",
                orderable: false
            }]
        });
    });
</script>