@model IdentitySample.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Request.Form.AllKeys.Contains("forgot"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    }
    <div class="box">
        <span class="login-capital" id="quick-view">REGISTER</span>
        <span class="login-capital" id="forgotPassword">FORGOT YOUR PASSWORD?</span>
        <div class="forgotPassHidden">
            <p class="register-description">Please enter your email below and we'll send you a new password.</p>

            <div class="login-aligner">
                @Html.LabelFor(m => m.EmailForgot, new { @class = "control-label" })

                <span class="form-input">
                    @Html.TextBoxFor(m => m.EmailForgot, new { @class = "inp-b", autocomplete = "off", spellcheck = "false" })
                </span>
                @Html.ValidationMessageFor(m => m.EmailForgot, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Send" name="forgot" class="btn-mnu btn-default" />
        </div>
    </div>
}